<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <app-card cardTitle="Gestión de Ingresos" blockClass="pc-component">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 br">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <form [formGroup]="formGestion">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Gestión</mat-label>
                                    <mat-icon matPrefix>calendar_today</mat-icon>
                                    <mat-select formControlName="gestion">
                                        @for(g of dataGestiones; track g){
                                        <mat-option [value]="g">{{g}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h4 class="mb-0">
                                <b><i class="ti ti-table-import fs-4"></i> Bandeja de Ingresos</b>
                            </h4>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 text-end">
                            <button class="btn btn-primary btn-round" matTooltip="Nuevo Ingreso" (click)="onActionNuevo()">
                                <i class="ti ti-plus"></i> Nuevo Ingreso
                            </button>
                        </div>
                    </div>

                    <hr class="separator mt-3" />

                    <ag-grid-angular style="width: 100%; height: 550px;" class="ag-theme-material" [gridOptions]="gridOptions" [columnDefs]="columnDefs" [rowData]="dataIngresos" [pagination]="true" [localeText]="localEs" [rowSelection]="'single'" [paginationPageSize]="paginationPageSize"
                        [paginationPageSizeSelector]="paginationPageSizeSelector" [paginationNumberFormatter]="paginationNumberFormatter" (selectionChanged)="onSelectionChangedIngreso($event)" (gridReady)="onGridReadyIngreso($event)">
                    </ag-grid-angular>
                </div>
            </div>
        </app-card>
    </div>
</div>