 <div class="d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-sm btn-info btn-icon me-1" (click)="onClick('view')" matTooltip="Ver Detalles">
            <i class="ti ti-eye"></i>
        </button>

        <button type="button" class="btn btn-sm btn-warning btn-icon me-1" (click)="onClick('edit')" matTooltip="Editar">
            <i class="ti ti-pencil"></i>
        </button>
        
        <button type="button" class="btn btn-sm btn-danger btn-icon" (click)="onClick('delete')" matTooltip="Eliminar / Anular">
            <i class="ti ti-trash"></i>
        </button>
    </div>